@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
    background-color: #D8B9A0;
}

* {
    font-family: 'Inter', sans-serif;
}

/* Makes the background color and middle box */

.SecondaryBackGround { 
    position: relative;
    margin-top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 100%;
    margin-bottom: 5vw;

}
/*Styling the box*/
.parent{
    background-color: #D8B9A0;
}
.SecondaryBackGround{
    background-color: #f4f4f414;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}


/*This is for The Most Popular*/

