:root{
    --all-Margin-Left: 4.5vw;
}


.MainSection{
    height: 55vw;

}

.Title{
    margin-top: 1vw;

    height: 7vw;
    margin-left: var(--all-Margin-Left);
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack h1 and h2 vertically */

    
}
.Title h1{
    padding-top: 20px;
    font-size: 3cqw;

    color: black;
    align-items: center; /* Center align h1 and h2 horizontally */
    justify-content: center; /
}
.Title h2{

    font-size: 2vw;
    color: rgb(15, 15, 15);
    opacity: 0.4;
    margin: 0;
    margin-left: 5.5vw;
    margin-top: -1.3vw;
   
}

.Rectangle-TopRight{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vw;
    background-color: rgb(207, 207, 207);
    height: 4.5vw;
    width: 3.5vw;
    border-radius: 10px;
}
.Rectangle-TopRight .Icon{
    font-size: 2.5vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.Circle-MainFood{
    position: absolute;
    background: src();
    background-color: rgb(114, 102, 87);
    height: 40vw;
    width: 40vw;
    border-radius: 100%;
    top: 0;
    right: 0;
    margin-top: 4vw;
    margin-right: 4vw;

}

.Text-MainFood{
    height: 20vw;
    width: 40vw;
    font-size: 5vw;
    font-weight: bold;
    color: black;
    line-height: 1.25;
    margin-left: var(--all-Margin-Left);
    margin-top: 5vw;

}

.ViewMenu{

    text-align: left;
    height: 5vw;
    width: 25vw;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 2vw;
    margin-left: var(--all-Margin-Left);
}

.TextViewMenu{

    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 1vw;

}

.Fav-Button{

    text-align: left;
    height: 5vw;
    width: 25vw;
    background-color: #ffa4a4aa;
    border-radius: 2vw;
    margin-top: -1vw;
    margin-left: var(--all-Margin-Left);
}

.Heart, .Arrow{
    position: relative;
    justify-self: right;
    text-align: right;
    font-size: 3.5vw;
    top: 0%;
    transform: translateY(-65%);
    margin-right: 2vw;


}