
:root{
    --text-indent: 0px;
    --Button-Color: #ffeca6;
    --circle-size: 60%;
}
.Tile{
    position: relative;
    width: 100%;
    height: 100%;

}

.Tile .Circle{
    position: relative;
    background-color: aqua;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 100%;
    transform: translateY(-8vw);
    margin-bottom: 1vw;
    margin: 0 auto;

}

.Tile .Square{
    background-color: rgb(255, 0, 0);
    width:100%;
    height: 80%;
    border-radius: 20px;
    transform: translateY(25%);
}
.Tile .Text{
    pointer-events: none;
    transform: translate(var(--text-indent),-10vw);
    font-size: 100%;
    width: 70%;
    height: 60%;
    margin-left: 1vw;


}

.Tile .Text h1{
    margin-top: 1vw;
    font-size: 5cqw;
    container-type: inline;
}

.Tile .Text h2{
    font-size: 1.3cqw;
    margin-top: -1.5vw;
    
}

.Tile .Text h3{
    font-size: 1.2cqw;
    margin-top: 1.5vw;

}

.BttsTtleCrd{
    position: absolute;

    width: 25%;
    justify-self: right;
    top: 0;
    right: 0;
    margin-top: 10vw;
    margin-right: 1vw;
}

.Tile .HeartButton, .Tile .Basketbutton{
    position: relative;
    width: 5vw;
    display: flex;
    border-width: 0;
}

.Tile .HeartButton{

    height: 5vw;
    border-radius: 100%;

}


.Tile .Basketbutton{
    height: 8vw;
    border-radius: 10px;
    margin-top: 2vw;
    
}

.Tile .HeartButton:hover, .Tile .Basketbutton:hover{
    filter: brightness(80%);
    cursor: pointer;
    
}

.Tile .HeartButton:active, .Tile .Basketbutton:active{
    filter: brightness(60%);
}

